.employeePreview {
  border: 1px #404040 solid;
  border-radius: 5px;
  background-color: #eeeeee;
  
  width: max-content;
  padding: 10px;
  margin: 5px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.employeePreview__bio h3 {
    /* font-size: 1.6em; */
}

.employeePreview__device {
  border-top: 2px #404040 solid;
}

.employeePreview__location {
  border-top: 1px #404040 solid;
}
